.navbar-container {
    padding: 0;
}

.round-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: rgb(97, 218, 251);
    background-color: rgb(40, 44, 52);
}

#dropdown-profile::after, #filter-btn::after {
    display: none;
}

.dropdown-profile .dropdown-menu {
    left: -130px;
    width: 200px;
}

.dropdown-profile .dropdown-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    transition: width 0.5s, opacity 0.5s;
    margin-left: 0;
  }
  
  .search-input:focus {
    width: 200px;
    opacity: 1;
    padding: 12px;
    margin-left: 10px;
  }