.modal {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .modal.show {
    transform: translateY(0);
  }
  
  .row {
    position: relative;
    margin-top: '25px';
  }

  .readonly-input {
    background-color: #f0f0f0;
  }